<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Lab", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Input", "Input", "Main", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Companies", "Index", "Companies", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Calculator", "Index", "Calculator", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("People", "Index", "People", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Party", "Index", "Party", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Error", "Index", "Error", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Cache", "Index", "Cache", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Master1", "View1", "Main", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Master2", "View2", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Algeev</p>
        </footer>
    </div>

    <div>
        @if (IsSectionDefined("placeholder_1"))
        {
            @RenderSection("placeholder_1")
        }
        else
        {
            <span>Default content</span>
        }
    </div>

    <div>
        @if (IsSectionDefined("placeholder_2"))
        {
            @RenderSection("placeholder_2")
        }
        else
        {
            <span>Default content</span>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
